<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AppGroupRedirects</key>
	<dict>
		<key>group.com.google.YouTube</key>
		<string>IPAPatchLookinYouTube</string>
		<key>group.com.google.common</key>
		<string>IPAPatchLookinGoogleCommon</string>
	</dict>
	<key>ForcedBooleanDefaults</key>
	<dict/>
	<key>RedirectUserDefaultsSuites</key>
	<true/>
</dict>
</plist>
